---
import Card from "@components/Card.svelte";
import { getCollection } from "astro:content";
import BaseLayout from "src/layouts/BaseLayout.astro";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);
---

<BaseLayout
  title="Posts"
  description="View every post ever posted from this blog."
>
  <h1>Posts</h1>
  {
    posts.map((post) => (
      <Card
        slug={post.slug}
        title={post.data.title}
        pubDate={post.data.pubDate}
        description={post.data.description}
      />
    ))
  }
</BaseLayout>
