@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans;
    /* Prevent page shift when navigating to page with vertical scrollbar */
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
  }
  body {
    max-width: 960px;
    @apply flex flex-col mx-auto w-full min-h-screen px-4 leading-normal;
  }
  main {
    @apply grow;
  }
  * {
    box-sizing: border-box;
  }
  /* Headings */
  h1 {
    @apply text-4xl font-extrabold; 
  }
  h2 {
    @apply text-2xl font-extrabold;
  }
  h3 {
    @apply text-xl font-extrabold;
  }
  h4 {
    @apply font-extrabold;
  }
  article h1,
  article h2,
  article h3 {
    @apply pt-3;
  }
  /* paragraphs */
  article p {
    @apply py-2;
  }
  /* lists */
  article ul {
    @apply list-disc list-inside;
  }
  article ol {
    @apply list-decimal list-inside;
  }
  /* links */
  article a {
    @apply link;
  }
  /* code */ 
  article pre {
    @apply p-3 my-1 rounded-md;
  }
}

@layer components {
  .link {
    @apply hover:underline text-sky-800 decoration-sky-800 
    visited:text-violet-800 visited:decoration-violet-800;
  }
  .main-heading {
    @apply py-3;
  }
}
