---
import Card from "@components/Card.astro";
import { getCollection } from "astro:content";
import BaseLayout from "src/layouts/BaseLayout.astro";

const posts = await getCollection("posts");
const featuredPosts = posts.filter((post) => post.data.featured);
const recentPosts = posts
  .filter((post) => !post.data.featured)
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
  .slice(0, 3);
---

<BaseLayout title="Home">
  <h1 class="pt-2">Welcome!</h1>
  <p class="py-2">
    This is my blog where I intend to share my insights around the languages,
    frameworks, and principles that I learn about through both my professional
    experience as a software developer and as a hobbyist programmer. It's
    looking a little bit like a ghost town, but fret not! I plan on adding more
    content to this blog in the near future. My goal is to aim for around one blog
    post a week. Also, I plan to improve the look of this site with additonal
    styling and maybe also add some quality of life features like a search
    functionality and a dark mode.
  </p>
  {featuredPosts.length ? <h1>Featured Posts</h1> : null}
  {
    featuredPosts.map((featuredPost) => (
      <Card slug={featuredPost.slug} frontmatter={featuredPost.data} />
    ))
  }
  <h1>Recent Posts</h1>
  {
    recentPosts.map((recentPost) => (
      <Card slug={recentPost.slug} frontmatter={recentPost.data} />
    ))
  }
</BaseLayout>
