---
const platform = "github";
const username = "tuckerfritz";
---

<footer>
  <p>
    Learn more about my projects on
    <a class="link" href={`https://www.${platform}.com/${username}`}>{platform}</a>!
  </p>
</footer>
