---
const platform = "github";
const username = "tuckerfritz";
---

<footer class="py-3 text-lg border-t-2 border-sky-800">
  <p>
    Learn more about my projects on
    <a class="link" href={`https://www.${platform}.com/${username}`}>{platform}</a>!
  </p>
</footer>
