---
import { Image } from "astro:assets";
---
<header class="flex justify-between py-4 text-xl">
  <a class="sr-only" href="#main-content">Skip to main content</a>
  <a href="/" title="Home">
    <Image src="/logo.jpg" width="200" height="50" alt="logo"/>
  </a>
  <nav>
    <ul class="flex flex-row gap-x-4">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/posts">Posts</a>
      </li>
      <li>
        <a href="/tags">Tags</a>
      </li>
    </ul>
  </nav>
</header>
