---
import { Image } from "astro:assets";
import logo from "@assets/logo.jpg";
import xmark from "@assets/icons/xmark.svg";
import menu from "@assets/icons/menu.svg";
---

<header
  class="flex justify-between h-14 py-2 text-xl font-semibold border-b-2 border-sky-800"
>
  <a class="sr-only" href="#main-content">Skip to main content</a>
  <a href="/" title="Home">
    <Image src={logo} width="200" height="45" alt="tuckerfritz.dev" />
  </a>
  <button
    type="button"
    aria-label="open primary navigation"
    class="nav-button sm:hidden"
  >
    <Image
      src={menu}
      alt=""
      height="25"
      width="25"
    />
  </button>
  <nav
    id="primary-navigation"
    aria-label="primary-navigation"
    class=`
    sm:static 
    sm:h-auto 
    sm:w-auto
    sm:border-0
    sm:drop-shadow-none
    sm:block
    fixed 
    right-0 
    top-0 
    h-full 
    w-72 
    z-50 
    drop-shadow-2xl
    bg-white
    flex
    flex-row-reverse
    justify-between
    hidden
    `
  >
    <button
      type="button"
      aria-label="close menu"
      class="nav-button block sm:hidden h-fit pr-4 pt-4"
    >
      <Image
        src={xmark}
        alt=""
        height="25"
        width="25"
      />
    </button>
    <ul
      class="sm:flex sm:flex-row sm:gap-x-4 sm:p-0 flex flex-col gap-y-4 pt-4 pl-4"
    >
      <li>
        <a class="text-black hover:text-sky-800" href="/posts">Posts</a>
      </li>
      <li>
        <a class="text-black hover:text-sky-800" href="/tags">Tags</a>
      </li>
    </ul>
  </nav>
</header>

<script>
  const buttons = document.getElementsByClassName("nav-button");
  for (let button of buttons) {
    button.addEventListener("click", () => {
      document.getElementById("primary-navigation")?.classList.toggle("hidden");
    });
  }
</script>
