---
import { Image } from "astro:assets";
---
<header class="flex justify-between h-14 py-2 text-xl font-semibold border-b-2 border-sky-800">
  <a class="sr-only" href="#main-content">Skip to main content</a>
  <a href="/" title="Home">
    <Image src="/logo.jpg" width="200" height="45" alt="tuckerfritz.dev"/>
  </a>
  <nav>
    <ul class="flex flex-row gap-x-4">
      <li>
        <a class="text-black hover:text-sky-800" href="/posts">Posts</a>
      </li>
      <li>
        <a class="text-black hover:text-sky-800" href="/tags">Tags</a>
      </li>
    </ul>
  </nav>
</header>
