---
---
<header>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/posts">Posts</a>
      </li>
      <li>
        <a href="/tags">Tags</a>
      </li>
    </ul>
  </nav>
</header>
